body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
}

header {
    background-color: #D2B48C;
    color: #6B7280;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #6B7280;
}

main {
    padding: 20px;
    text-align: center;
    font-size: small;
}

.button, .meinbutton {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    border: 2px solid #D2B48C;
    border-radius: 5px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #D2B48C;
}

.meinbutton:hover {
    background-color: #A89B8C;
    border-color: #A89B8C;
}

.Information {
    color: #6B7280;
    margin: 20px;
}

p {
    margin: 10px 0;
}

footer {
    background-color: #A89B8C;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.bildabschnitt img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 10px auto;
}

