body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(248, 248, 222);
}

header {
    background-color: #D2B48C;
    color: #5e564e;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: larger;
    color: #5e564e;;
}

main {
    padding: 20px;
    text-align: center;
}

.button {
    margin: 100px;
}
.meinbutton {
    display: inline-table;
    margin: 100px;
    padding: 25px 25px;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(131, 111, 1);
    background-color: #D2B48C;
    text-decoration: none;
}


.meinbutton:hover {
    background-color: gold;
}

.Information {
    color: #6B7280;
    margin: 20px;
}

p {
    margin: 10px 0;
}

footer {
    background-color: #A89B8C;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.bildabschnitt img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 10px auto;
}

#blinkendeNachricht {
    color: red; 
}

.impressdatenschutz {
    font-family: Arial, Helvetica, sans-serif;
    color: #5e564e;
    border: 2px solid black;
    padding: 20px;
    margin-top: 5px;
    border-radius: 45px;
    list-style-type: none;
    text-align: center;
    padding-left: 0%;
  }
  
  .goldnrmail {
    color: #b49a02; 
  }
  